/* background image */
.background-img {
    background-image: url("../images/background.jpg");
    background-size: cover;
}
/* bio image */
.circle-img {
    border-radius: 50%;
    width: 300px;
    max-width: 95%;
    z-index: 1;
    margin: 2.5% 1% 1% 1%;
    box-shadow: 15px 15px 15px black;
}
/* used for background container elements */
.rect {
    background-color: lightslategrey;
    box-shadow: 15px 15px 15px black;
    border-radius: 15px;
    margin: -15% 2.5% 2.5% 2.5%;
    padding: 20% 2.5% 2.5% 2.5%;
}
.rect-modal {
    background-color: lightslategray;
    box-shadow: 15px 15px 15px black;
    border-radius: 15px;
    margin: 1%;
    padding: 2.5%;
}
/* headers and text formatting */
h3 {
    font-family: "Indie Flower", cursive;
    color: whitesmoke;
    margin: 2.5%;
}
p {
    margin: 1%;
    font-family: "Open Sans", sans-serif;
}
form {
    color: whitesmoke;
    font-family: "Open Sans", sans-serif;
}
/* button formatting */
.round {
    border-radius: 40px;
    width: 27.5%;
    margin: 2.5%;
    padding: 1%;
    color: white;
    background-color: steelblue;
    font-family: "Indie Flower", cursive;
    font-size: 22px;
}
.round:hover {
    border-radius: 40px;
    width: 27.5%;
    margin: 2.5%;
    padding: 1%;
    color: white;
    background-color: blue;
}
.about-btn {
    width: 40%;
}
.about-btn:hover {
    width: 40%;
}
.github {
    background-color: #24292e;
    color: whitesmoke;
    font-family: "Open Sans", sans-serif;
    width: 200px;
}
.linkedin {
    background-color: #0077B5;
    color: whitesmoke;
    font-family: "Open Sans", sans-serif;
    width: 200px;
}
.resume {
    background-color: orangered;
    color: whitesmoke;
    font-family: "Open Sans", sans-serif;
    width: 200px;
}
/* education institution logos */
.ed-image {
    width: 50%;
}
/* portfolio project elements */
.link-container {
    margin: 5%;
    text-align: center;
}
.img-container {
    margin: 5%;
    text-align: center;
}
.project-img {
    max-width: 100%;
    width: 300px;
    box-shadow: 15px 15px 15px black;
}
.project-link {
    color: whitesmoke;
    font-family: "Open Sans", sans-serif;
    font-size: 21px;
}
/* contact information formatting */
.contact-info {
    color: whitesmoke;
    font-size: 28px;
    font-family: "Indie Flower", cursive;
    border: solid 2pt black;
    background-color: none;
    margin: 2.5%;
    padding: 2.5%;
    width: 350px;
    text-align: center;
}
.contact-info:hover {
    color: whitesmoke;
    font-size: 28px;
    font-family: "Indie Flower", cursive;
    border: solid 2pt black;
    background-color: blue;
    margin: 2.5%;
    padding: 2.5%;
    width: 350px;
    text-align: center;
}
/* show and hide classes used in script.js */
.show {
    display: block;
}
.hide {
    display: none;
}