/* Google fonts 
font-family: 'Indie Flower', cursive;
font-family: 'Architects Daughter', cursive;
font-family: 'Swanky and Moo Moo', cursive;
font-family: 'Open Sans', sans-serif; */

/* background image */
.background-img {
    background-image: url("../images/background.jpg");
    height: 1500px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: lightseagreen;
}
/* bio image */
.bio-img-container {
    z-index: 1;
}
.bio-img {
    border-radius: 100%;
    height: 300px;
    margin: 2.5% 1% 1% 1%;
    box-shadow: 5px 5px 5px black;
}
/* used for name tag and top container positioning */
.name-tag {
    z-index: 2;
}
.name-tag-position {
    background-color: lightslategrey;
    box-shadow: 15px 15px 15px black;
    border-radius: 15px;
    margin: -20% 2.5% 2.5% 2.5%;
    padding: 20% 2.5% 2.5% 2.5%;
}
/* used for container elements */
.rectangle {
    background-color: lightslategray;
    box-shadow: 5px 5px 15px black;
    border-radius: 15px;
    margin: 1%;
    padding: 2.5%;
}
/* name tag */
h1 {
    font-family: "Indie Flower", cursive;
    /* font-family: 'Swanky and Moo Moo', cursive; */
    color: whitesmoke;
    font-size: 42pt;
}
/* section headers */
h2 {
    font-family: "Architects Daughter", cursive;
    color: whitesmoke;
    margin: 2.5%;
}
/* education institution titles */
h3 {
    font-family: "Open Sans", sans-serif;
    color: whitesmoke;
    margin: 2.5%;
}
/* education program titles */
h4 {
    font-family: "Open Sans", sans-serif;
    color: whitesmoke;
    margin: 2.5%;
}
/* form text */
form {
    color: whitesmoke;
    font-family: "Open Sans", sans-serif;
    margin: 2.5%;
}
/* all other text */
p {
    margin: 1%;
    font-family: "Open Sans", sans-serif;
    color: whitesmoke;
}
/* most buttons */
.round {
    border-radius: 40px;
    width: 27.5%;
    margin: 2.5%;
    padding: 1%;
    color: white;
    background-color: steelblue;
    font-family: "Indie Flower", cursive;
    font-size: 22px;
}
.round:hover {
    border-radius: 40px;
    width: 27.5%;
    margin: 2.5%;
    padding: 1%;
    color: white;
    background-color: blue;
}
/* education and links buttons */
.about-btn {
    width: 40%;
}
.about-btn:hover {
    width: 40%;
}
/* GitHub button under links */
.github {
    background-color: #24292e;
    color: whitesmoke;
    font-family: "Open Sans", sans-serif;
    width: 200px;
}
/* LinkedIn button under links */
.linkedin {
    background-color: #0077B5;
    color: whitesmoke;
    font-family: "Open Sans", sans-serif;
    width: 200px;
}
/* resume button under links */
.resume {
    background-color: orangered;
    color: whitesmoke;
    font-family: "Open Sans", sans-serif;
    width: 200px;
}
/* maintain button width on hover */
.pro-link:hover {
    width: 200px;
}
/* education institution logos */
.ed-image {
    width: 75%;
    margin-top: 15%;
}
/* portfolio project elements */
.img-container {
    margin: 5%;
    text-align: center;
}
.project-img {
    max-width: 100%;
    width: 100%;
    box-shadow: 5px 5px 15px black;
}
.link-container {
    margin: 5%;
    text-align: center;
    width: 90%;
    padding: 1%;
    background-color: whitesmoke;
    box-shadow: 5px 5px 15px black;
}
.project-link {
    color: steelblue;
    font-family: "Architects Daughter", cursive;
    font-size: 18pt;
}
.project-text-container {
    background-color: steelblue;
    box-shadow: 5px 5px 15px black;
    padding: 1%;
    margin: 5%;
    width: 90%;
}
.project-text {
    text-align: center;
    color: whitesmoke;
}
/* email and phone contact information formatting */
.contact-info {
    color: whitesmoke;
    font-size: 28px;
    font-family: "Indie Flower", cursive;
    border: solid 2pt whitesmoke;
    background-color: none;
    margin: 2.5%;
    padding: 2.5%;
    width: 350px;
    text-align: center;
}
.contact-info:hover {
    color: blue;
    font-size: 28px;
    font-family: "Indie Flower", cursive;
    border: solid 2pt blue;
    background-color: whitesmoke;
    margin: 2.5%;
    padding: 2.5%;
    width: 350px;
    text-align: center;
}
/* show and hide classes used in script.js */
.show {
    display: block;
}
.hide {
    display: none;
}